.user{
    .row,label{
        margin: 10px;
    }
    button{
        margin:10px; 
    }
}

.details{
    .row,label{
        margin: 10px;
    }
    .white-text-color {
        color: white;
    }
}
